.card {
  width: 900px;
  background-color: #d7d3d7;
  color: #fff;
  border-radius: 15px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}

.card-content h2,p {
  color: rgb(0, 116, 240);
}
.card-header {
  background-color: #0601f9;
  height: 80px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid rgb(2, 217, 246);
  margin-top: -48px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  transition: 0.3s ease-in-out;
  margin-left: 50px;
}

.card-content {
  padding: 16px;
  text-align: center;
}

.card-content h2 {
  margin-top: -100px;
  font-size: 24px;
}

.card-content p {
  font-size: 16px;
  color: #444242;
}
.follow-button {
  margin-top: 8px;
  padding: 6px 12px;
  background-color: #7b7979;
  color: #03f18e;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.follow-button:hover {
  background-color: #07c7f2;
  color: #03d8f4;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 12px;
  color: #444242;
}

.stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #080808;
}

.skill-title {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #0085f9;
}

.progress-bar {
  width: 100%;
  height: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  appearance: none;
}

.progress-bar::-webkit-progress-bar {
  background-color: #333;
  border-radius: 5px;
}

.progress-bar::-webkit-progress-value {
  background-color: #373636;
  border-radius: 5px;
}

.progress-bar::-moz-progress-bar {
  background-color: #e11d48;
}


.view-facebook-btn {
  margin-top: 1rem;
  padding: 10px 16px;
  border-radius: 8px;
  background-color: #047ef8;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-facebook-btn:hover {
  background-color: #0b0b0b;
}

.footer-text {
  color: gray;
  text-align: center;
  margin-top: 2rem;
  font-size: 0.8rem;
}

.main-header {
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

.skills-card {
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.skills-title {
  color: #e11d48;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.skill-item {
  margin-bottom: 1rem;
}

.skill-labels {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.skill-bar-bg {
  background-color: #4b5563; /* Tailwind gray-700 */
  border-radius: 9999px;
  height: 0.75rem;
  overflow: hidden;
}

.skill-bar-fill {
  background-color: #e11d48;
  height: 100%;
  border-radius: 9999px;
}
